<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geo" version="0.12.1" targetFramework="net45" />
  <package id="Geo.Raven" version="0.12.1" targetFramework="net45" />
  <package id="Machine.Fakes" version="2.5.0" targetFramework="net45" />
  <package id="Machine.Fakes.Moq" version="2.5.0" targetFramework="net45" />
  <package id="Machine.Specifications" version="0.9.0" targetFramework="net45" />
  <package id="Machine.Specifications.Should" version="0.7.2" targetFramework="net45" />
  <package id="Moq" version="4.2.1409.1722" targetFramework="net45" />
  <package id="NMoneys" version="3.5.1.0" targetFramework="net45" />
  <package id="NMoneys.Serialization.Raven_DB" version="2.0.0.0" targetFramework="net45" />
  <package id="NodaTime" version="1.3.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="3.0.3528" targetFramework="net45" />
  <package id="RavenDB.Client.NodaTime" version="2.5.9" targetFramework="net45" />
  <package id="RavenDB.Database" version="3.0.3528" targetFramework="net45" />
  <package id="RavenDB.Tests.Helpers" version="3.0.3528" targetFramework="net45" />
  <package id="UnitsNet" version="3.2.0" targetFramework="net45" />
</packages>